.container{
    padding: 0px var(--short-inline-spacing) var(--short-inline-spacing) var(--short-inline-spacing);
    color: #404040;
}

.container hr {
    padding: 0px;
}

.container h1 {
    font-weight: 300;
    font-size:20px;
}

.container p {
    font-weight: 400;
    font-size: 10px;
}

.container label{
    font-size: 10px;
}

.field{
display: flex;
flex-direction:column;
margin-bottom: 20px;
margin-top: 20px;
}

.container input, .container textarea {
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    background-color: #f8f9fc;
    border-radius: 3px;
    height: 1.3rem;
}

.container button, .submit_button {
    width: 100%;
    padding:11px;
    font-size: 10px;
}

.submit_button{
    background-color: #2197e0 !important;
    color: white;
    height: 33px !important;
    font-weight: bold !important;
    border: none !important;

}

.add_phone{
    background-color: #eff7ff;
    color: #2197e0;
    margin-top: 5px;
}

.container input label {
    display: block;
}

.message_text_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.max_text_length_msg{
    margin:0px;
    color: #B5B5B5;
}

.container span {
    color: #B5B5B5;
    font-style: italic;
}

.container textarea {
    height: calc(4*(1.3rem));
}

.submit_img{
    height: 12px;
    position:relative;
    left: 10px;
    bottom: 25px;
}

.error_msg{
    color: red;
}

.message_error_msg{
    margin-top: -10px;
}